*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.btn{
    width:190px;
}

a{
    color:#FFF;
}
a:hover, a:focus{
    color:#000;
}

.connectedSortable ul {
    list-style-type: none;
 	margin: 3px;
	padding: 4px;
   text-align: left;
}

.btn-info{
   background-color:#42879C;

}
.btn-info:hover{
    background-color:#317083;
}

.btn-warning{
   background-color:#EC900D;

}

.highlighted {
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}
