*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.btn{
    width:190px;
}


a:hover, a:focus{
    color:#1667B6;
}

.connectedSortable ul {
    list-style-type: none;
 	margin: 3px;
	padding: 4px;
   text-align: left;
}
.btn-success{
   background-color:#D9E3D9;
    border-color:#3F4A3F;
    color: #000;
}

.btn-success:hover {
    background-color:#D9E3D9;
    color:#000;
}
.btn-info{
   background-color:#42879C;

}
.btn-info:hover{
    background-color:#317083;
}

.btn-warning{
   background-color:#EC900D;

}

.highlighted {
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}
