{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="fixedMenu visible-xs visible-sm visible-md">
                  <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#QBs">QB</a></li>
                  <li><a href="#RBs">RB</a></li>
                  <li><a href="#WRs">WR</a></li>
                  <li><a href="#TEs">TE</a></li>
                  <li><a href="#DEFs">DEF</a></li>
                  <li><a href="#Ks">K</a></li>
                  </ul>
            </div>  
        </div>  
    </div>
    <br/>
    <div class="col-md-12 column">
    <div class="row clearfix" align="center">
		<div class="col-md-2 column">
            <div class="connectedSortable" id="QBs">
            <h5>QB</h5>
                {% if qb_list  %}                 <!-- removed custom | filters -->
                    {% for player in qb_list %} 
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success" >
                            <span class="player_text">
                              {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                             </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %}
                            {% if not player.isStarred %}
                                <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-star-empty"></span></a>
                            {% else %}
                                <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-star"></span></a>
                            {% endif %}

                        </span>
                           
                    </ul>
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
		</div>
		<div class="col-md-2 column">
            <div class="connectedSortable" id="RBs">
            <h5>RB</h5>
                {% if rb_list %}
                    {% for player in rb_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                           {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                              </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %}
                        </span>       
                    </ul> 
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="connectedSortable" id="WRs">
            <h5>WR</h5>
                {% if wr_list %}
                    {% for player in wr_list %}
                       {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul> 
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                    </div>
        </div>
        <div class="col-md-2 column">
            <div class="connectedSortable" id="TEs">
            <h5>TE</h5>
                {% if te_list %}
                    {% for player in te_list %}
                     {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
		</div>
		<div class="col-md-2 column">
            <div class="connectedSortable" id="DEFs">
			<h5>DEF</h5>
                {% if def_list %}
                    {% for player in def_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
        <div class="connectedSortable" id="Ks">
		<h5>K</h5>
                {% if k_list %}
                    {% for player in k_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                        {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>
                    {% endfor %}
                {% else %}    
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
