{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>	
		</ul>
		</div>
	</div>
    <br/>
    <div class="row clearfix" align="center">
		<div class="col-md-2 column">
            <h5>QBs</h5>
            <div class="connectedSortable" id="QBs">
                {% if qb_list  %}                 <!-- removed custom | filters -->
                    {% for player in qb_list %} 
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success" >
                            <span class="player_text">
                              {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                             </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %}
                        </span>
                           
                    </ul>
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
		</div>
		<div class="col-md-2 column">
            <h5>RBs</h5>
            <div class="connectedSortable" id="RBs">
                {% if rb_list %}
                    {% for player in rb_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                           {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                              </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %}
                        </span>       
                    </ul> 
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2 column">
            <h5>WRs</h5>
            <div class="connectedSortable" id="WRs">
                {% if wr_list %}
                    {% for player in wr_list %}
                       {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul> 
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                    </div>
        </div>
        <div class="col-md-2 column">
            <h5>TEs</h5>
            <div class="connectedSortable" id="TEs">
                {% if te_list %}
                    {% for player in te_list %}
                     {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
		</div>
		<div class="col-md-2 column">
			<h5>DEFs</h5>
            <div class="connectedSortable" id="DEFs">
                {% if def_list %}
                    {% for player in def_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                            {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
		<h5>Ks</h5>
        <div class="connectedSortable" id="Ks">
                {% if k_list %}
                    {% for player in k_list %}
                    {% if player.bye != None %}
                     <ul id="player_{{ player.id }}" class="highlight">
                    {% else %}
                     <ul id="player_{{ player.id }}" class="highlighted">
                    {% endif %}
                        <span class="btn btn-primary btn-success">
                            <span class="player_text">
                        {{ player.name }}
                              {% if player.team %}
                                ({{ player.team|upper}})
                                {% else %}
                                <!-- None -->
                                {% endif %}
                              {% if player.bye %}
                              {{ player.bye}}
                              {% else %}
                              <!-- None -->
                              {% endif %}
                            </span>
                              {% if player.url %}
                            <a href="{{player.url}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            {% else %}
                            {% endif %} 
                        </span>       
                    </ul>
                    {% endfor %}
                {% else %}    
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
		</div>
	</div>
</div>
{% endblock %}
