{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>	
		</ul>
		</div>
	</div>
    <br/>
    <div class="row clearfix" align="center">
		<div class="col-md-2 column">
   
            <div class="connectedSortable" id="QBs">
                QBs
                {% if qb_list  %}                 <!-- removed custom | filters -->
                    {% for player in qb_list %} 
                    <ul id="player_{{ player.id }}">
                        <li>{{ player.name }}, {{ player.bye}}
                        <a href ="{{player.url }}" target="_blank">
                            <i class="fa fa-yahoo"></i>
                        </a>
                        </li>
                    </ul>
                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
		</div>
		<div class="col-md-2 column">
            <div class="connectedSortable" id="RBs">
            RBs
                {% if rb_list %}
                    {% for player in rb_list %}
                    <ul id="player_{{ player.id }}">{{ player.name }}, {{ player.bye}} 
                        <a href ="{{player.url }}" target="_blank">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="connectedSortable" id="WRs">
            WRs
                {% if wr_list %}
                    <!-- need to check based on position -->
                    {% for player in wr_list %}
                     <ul id="player_{{ player.id }}">
                         <li>{{ player.name }}, {{ player.bye}} 
                       
                         <a href ="{{player.url }}" target="_blank">
                            <i class="fa fa-yahoo"></i>
                        </a>
                        </li>
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                    </div>
        </div>
        <div class="col-md-2 column">
            <div class="connectedSortable" id="TEs">
            TEs
                {% if te_list %}
                    {% for player in te_list %}
                    <ul id="player_{{ player.id }}">{{ player.name }}, {{ player.bye}} 
                        <a href ="{{player.url }}" target="_blank">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
		</div>
		<div class="col-md-2 column">
			<div class="connectedSortable" id="DEFs">
                DEFs
                {% if def_list %}
                    {% for player in def_list %}
                   <ul id="player_{{ player.id }}">{{ player.name }}, {{ player.bye}} 
                    </ul>

                    {% endfor %}
                {% else %}
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
            </div>
		<div class="connectedSortable" id="Ks">
                Ks
                {% if k_list %}
                    {% for player in k_list %}
                   <ul id="player_{{ player.id }}">{{ player.name }}, {{ player.bye}} 
                        <a href ="{{player.url }}" target="_blank">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </ul>

                    {% endfor %}
                {% else %}    
                    <ul><em> No entries yet. Add some!</em></ul>
                {% endif %}
                </div>
		</div>
	</div>
</div>
<input type="submit" value="Save" class="btn btn-primary" id="submit"></input>
{% endblock %}
